@using Article.ViewsModel
@model ProductDetailVm
@{
    ViewData["Title"] = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <style>



        section {
            height: 100vh;
        }

        header {
            background: steelblue;
            height: 50%;
            position: absolute;
            width: 100%;
            z-index: -99;
        }

            header h1 {
                font-size: 2.5em;
                margin-left: 1em;
                margin-bottom: 0;
                color: white;
            }

            header h3 {
                margin-top: 0;
                margin-left: 2em;
                font-size: 1.3em;
                color: white;
                font-weight: 500;
            }

        [data-product-detail] {
            width: 100%;
            height: 400px;
            margin: 0 auto;
            background: white;
            box-shadow: 2px 2px 7px rgba(0,0,0,0.3);
            display: flex;
            justify-content: center;
            align-items: center;
        }

            [data-product-detail] .img-card {
                height: 80%;
                border: 1px solid lightgrey;
                border-radius: 5px;
                position: relative;
                left: -130px;
                top: -5px;
            }

        .img-card .img {
            height: 80%;
            display: flex;
            flex-direction: column;
        }

            .img-card .img i {
                color: skyblue;
                margin-left: 21em;
                margin-top: 10px;
            }

            .img-card .img img {
                width: 70%;
                height: 200px;
                position: relative;
                left: 60px;
                top: 20px;
            }

        .img-card .img-options {
            border-top: 1px solid lightgrey;
        }

        [data-product-detail] .product-details {
            height: 80%;
            width: 50%;
            /*   border: 1px solid teal; */
            padding-left: 20px;
        }

        .product-details h2 {
            margin: 0;
            font-size: 35px;
        }

        .product-details p:first-of-type {
            margin: 0;
        }

        .product-details p:nth-of-type(2) {
            border: 1px solid lightgrey;
            width: 140px;
            height: 25px;
            padding-left: 5px;
        }

            .product-details p:nth-of-type(2) span {
                font-size: 12px;
                position: relative;
                bottom: 1px;
            }

        .product-details p:nth-of-type(3) {
            color: grey;
            margin-bottom: 0;
        }

        .product-details p:nth-of-type(4) {
            margin-top: 0;
        }

            .product-details p:nth-of-type(4) span:first-of-type {
                font-weight: 800;
                font-size: 25px;
                margin-right: 10px;
            }

            .product-details p:nth-of-type(4) span:nth-of-type(2) {
                text-decoration: line-through;
            }

            .product-details p:nth-of-type(4) span:nth-of-type(3) {
                color: teal;
                font-size: 17px;
                margin-left: 10px;
            }

        .product-details p:nth-of-type(5) {
            color: grey;
            font-size: 14px;
        }

        .product-details i.fas {
            color: #FFC107;
            margin-right: 5px;
        }

        .sample-colors {
            display: flex;
        }

            .sample-colors div {
                width: 30px;
                height: 25px;
                /*   border: 1px solid grey; */
            }

                .sample-colors div:first-of-type {
                    margin-right: 15px;
                    background: maroon;
                }

                    .sample-colors div:first-of-type div {
                        background: maroon;
                        width: 10px;
                        height: 10px;
                        transform: translate(22px, -5px);
                        border-radius: 50%;
                        border: 2px solid white;
                    }



        page {
            width: 170px;
            height: 35px;
            border: none;
            margin-top: 14px;
            font-family: 'Literata', serif;
        }

        sale {
            background: #4FC3F7 !important;
            border-radius: 4px !important;
            margin-right: 10px !important;
        }



        .img-options {
            display: flex;
            padding-left: 10px;
        }

            .img-options div {
                border: 1px solid lightgrey;
                margin: 10px 20px;
                width: 40px;
                height: 40px;
            }

                .img-options div img {
                    width: 80%;
                    margin: 7px 4px;
                }

                .img-options div:nth-of-type(2) img {
                    transform: rotate(90deg);
                }

                .img-options div:nth-of-type(3) img {
                    transform: rotate(-45deg);
                }

                .img-options div:nth-of-type(4) img {
                    transform: rotate(45deg);
                }
    </style>

}
<div class="row">
    <section>

        <div data-product-detail>
            <div class="img-card">
                <div class='img'>
                    <i class="far fa-heart"></i>
                    <img src="@Model.Product.Photo" />
                </div>
                <div class='img-options'>
                    <div><img src="@Model.Product.Photo" /></div>
                </div>
            </div>
            <div class="product-details">
                <h2>@Model.Product.Name</h2>
                <p>@Model.Product.Description</p>

                <p><i class="fas fa-star"></i>4.5 | <span>2 Yorumlar</span></p>
                <p>@Model.Product.Feature</p>
                <p><span>$@Model.Product.UnitPrice</span></p>

              
                @using (Html.BeginForm("AddCart", "Cart"))
                {
                    <input type="hidden" name="id" value="@Model.Product.Id" />
                    <input type="submit" class="btn btn-danger" value="Sepete ekle" />
                }

            </div>
        </div>





        <div class="col-xl-12">

            <div class="card card-xl-stretch mb-5 mb-xl-12">

                <div class="card-header border-0 pt-5">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label fw-bolder fs-3 mb-1">Ürün Yorumları</span>

                    </h3>
                    <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" title="Yeni Yorum ekle">
                        <a href="#" class="btn btn-sm btn-light btn-active-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_invite_friends">
                          
                            <span class="svg-icon svg-icon-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black" />
                                    <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black" />
                                </svg>
                            </span>
                           Yeni Yorum Ekle
                        </a>
                    </div>
                </div>

                <div class="card-body py-3">

                    <div class="table-responsive">

                        <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4" id="productDetail" style="text-align:center;">

                            <thead>
                                <tr class="fw-bolder text-muted">

                                    <th class="min-w-100px">Kullanıcı</th>
                                    <th class="min-w-200px">Yorumu</th>

                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.CommentVm)
                                {
                                    <tr>

                                        <td style="text-align:left;">
                                            <div class="d-flex align-items-center">
                                                <div class="symbol symbol-45px me-5">
                                                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="" />
                                                </div>
                                                <div class="d-flex justify-content-start flex-column">
                                                    <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">@item.FirstName @item.LastName</a>
                                                    <span class="text-muted fw-bold text-muted d-block fs-7">@item.Email</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>

                                            <span class="text-muted fw-bold text-muted d-block fs-7">@Html.Raw(@item.Comment)</span>
                                        </td>

                                    </tr>
                                }
                            </tbody>

                        </table>

                    </div>

                </div>

            </div>

        </div>






    </section>
</div>

<div class="modal fade" id="kt_modal_invite_friends" tabindex="-1" aria-hidden="true">

    <div class="modal-dialog mw-650px">
     
        <div class="modal-content">
        
            <div class="modal-header pb-0 border-0 justify-content-end">
            
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black" />
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black" />
                        </svg>
                    </span>
       
                </div>
            
            </div>
   
            <div class="modal-body scroll-y mx-5 mx-xl-18 pt-0 pb-15">
        
                <div class="text-center mb-13">
                
                    <h1 class="mb-3">Yeni Yorum Ekle</h1>
                
                 
                </div>
                <form method="post" asp-action="ProductDetail" asp-controller="Product">
                    <input type="hidden" value="@Model.Product.Id" name="ProductId" />
                   
                    <textarea class="form-control form-control-solid mb-8" rows="3" placeholder="Yorumunuzu Giriniz"  name="Comment"></textarea>
                    <br />
                    <button type="submit" class="btn btn-primary" style="margin: 0 auto;margin-left: auto;margin-right: auto;display: block;"> Yorum Ekle</button>

                </form>

</div>
  
        </div>
 
    </div>

</div>